@font-face 
  font-family: kanji
  src: url(/assets/font/kanji.ttf)


body 
  padding: min(1vh, 1vw)
  font-family: kanji

a
  text-decoration: none



.boarder
  border: min(.2vh, .2vw) solid #999999
  border-radius: min(.75vh, .75vw)



.center 
  position: absolute
  bottom: 0
  left: 40%
  margin-top: min(2vh, 2vw)
  color: rgb(214, 139, 0)
  font-size: min(2vh, 2vw)


.about
  text-align: center
  padding-top: min(1vh, 1vw)
  padding-bottom: min(1vh, 1vw)
  font-size: min(3vh, 3vw)




.container
  display: flex


.arena
  display: inline-grid
  
#fake
  grid-column: 1
  grid-row: 1
  border: min(.2vh, .2vw) solid #999999
  border-radius: min(1vh, 1vw)
  padding: min(2vh, 2vw)
  display: inline-grid
  grid-template-columns: repeat(9, 1fr)
  column-gap: min(1vh, 1vw)
  row-gap: min(1vh, 1vw)
  z-index: -1
  label
    aspect-ratio: 1
    width: min(7vh, 7vw)
    height: min(7vh, 7vw)
    box-sizing: border-box
    text-align: center
    line-height: min(7vh, 7vw)
    font-size: min(5vh, 5vw)
    font-weight: bold
    color: #ffcf9e00
    box-shadow: 0px 0px 5px 1px #999999

#board
  grid-column: 1
  grid-row: 1
  padding: min(2vh, 2vw)
  display: inline-grid
  grid-template-columns: repeat(9, 1fr)
  column-gap: min(1vh, 1vw)
  row-gap: min(1vh, 1vw)
  label
    aspect-ratio: 1
    width: min(7vh, 7vw)
    height: min(7vh, 7vw)
    box-sizing: border-box
    text-align: center
    line-height: min(7vh, 7vw)
    font-size: min(5vh, 5vw)
    font-weight: bold
    color: #ffcf9e00
    

.info
  padding: min(1vh, 1vw)
  margin-left: min(1vh, 1vw)
  font-size: min(3vh, 3vw)


  #ReadyButton
    background-color: transparent
    color: green
    border: min(.2vh, .2vw) solid green
    border-radius: min(1vh, 1vw)
    font-size: min(5vh, 5vw)

#PB
  aspect-ratio: 1
  width: min(7vh, 7vw)
  height: min(7vh, 7vw)
  box-sizing: border-box
  text-align: center
  font-size: min(5vh, 5vw)
  font-weight: bold
  color: black
  border-radius: min(3vh, 3vw)
  outline: min(1vh, 1vw) black solid
  outline-offset: 0px
  box-shadow: 0px 0px min(1vh, 1vw) min(1vh, 1vw) #ad00ad


#PW
  aspect-ratio: 1
  width: min(7vh, 7vw)
  height: min(7vh, 7vw)
  box-sizing: border-box
  text-align: center
  font-size: min(5vh, 5vw)
  font-weight: bold
  color: black
  border-radius: min(3vh, 3vw)
  outline: min(1vh, 1vw) #d1d1d1 solid
  outline-offset: 0px
